.dropdown-menu {
    left: unset;
    right: 0;
}

.sidebar-open-close svg {
        display: block;
        position: fixed;
        top: 12px;
        right: calc(var(--space-small));
        fill: var(--color-primary);
        width: 32px;
        height: auto;
    }

.day-night button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
}

.day-night button:hover {
    background: none;
    border: none;
}

.day-night svg {
    width: 40px;
    height: auto;
    fill: var(--color-primary);
    transition: 0.3s ease;
}

.day-night svg:hover {
    width: 40px;
    height: auto;
    filter: drop-shadow(0 0 5px var(--color-primary)) 
          drop-shadow(0 0 15px #ffffff) 
          drop-shadow(0 0 30px #ffffff);
}