.dropdown-menu {
    left: unset;
    right: 0;
}

.sidebar-open-close svg {
        display: block;
        position: fixed;
        top: 12px;
        right: calc(var(--space-small));
        fill: var(--color-primary);
        width: 32px;
        height: auto;
    }