#MainHeader {
    display: flex;
    align-items: center;
    padding: var(--space-small);
    gap: var(--space-small);

    & input {
        padding: 15px 20px;
        font-size: 20px;
        margin-left:auto;
    }
}

#MainContainer {
    display: flex;
    align-items: top;
    padding: var(--space-small);
    gap: var(--space-small);
}

#SortBy {
    padding: var(--space-small);
}

.SortBtn , #closePanelBtn{
    color: white;
    background-color: var(--color-primary);
    border: none;
    border-radius: var(--radius-small);

    padding: var(--space-small);
    font-size: clamp(0.2rem, 0.5vw + 0.4rem, 2rem);
    cursor: pointer;
}

#RequestsContainer {
    display: flex;
    flex-direction: column;
    gap: var(--space-small);
}

#RequestsContainer h2{
    font-size: clamp(2rem, 4vw + 1rem, 3rem);
}
#RequestsContainer h3, p{
    font-size: clamp(1rem, 2vw + 0.5rem, 2rem);
}

.RequestRecord {
    border: 2px solid #ccc;
    border-radius: var(--radius-medium);
    padding: var(--space-small);
    background-color: var(--color-secondary-hover);

    display:flex;
    align-items:center;
    gap: var(--space-small);

    & img {
         width: var(--logo-img-large);
    }
}

.RequestButtons button{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-flex;

    & img {
        width: var(--logo-img-small);
    }
}

.RequestButtons button:active{
    transform:scale(0.95);
}

.RequestButtons button:hover{
    filter: brightness(0.85);
    transition: all 0.2s ease;
}

#SidePanel_Iconsee {
    position: fixed;
    top:0;
    right: -450px;
    width: clamp(280px, 40vw, 450px);
    height: 100vh;
    background-color: var(--color-secondary-glass);
    box-shadow: -5px 0 15px rgba(0,0,0,0.1);
    padding: var(--space-small);
    box-sizing: border-box;

    transition: right 0.3s ease-in-out;
    z-index: 1000;
}

#SidePanel_Iconsee.open {
    right: 0;
}

#SidePanel_ImgContainer img{
    width: clamp(280px, 40vw, 450px);
}

