#home-header { 
    position: fixed;
}

p {
    line-height: 1.4;
    font-size: var(--text-tiny);
    color: color-mix(in srgb, var(--color-primary) 70%, gray 30%);
}

.archerfind-logo img {
    width: calc(var(--logo-img-large) - 20px);
    height: auto;
}

/****************** INTRO SECTION ******************/
.intro {
    position: relative;
    top: 0;
    width: 100%;
    height: 100dvh;
    background: var(--BACKGROUND-home) var(--bg-cover);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-desc > p {
    margin: 0px 1vh;
}

.intro-buttons {
    display: flex;
    flex-direction: row;
    padding: var(--space-medium);
    gap: var(--space-medium);
}

.intro-buttons input[type="button"] {
    font-size: var(--text-btn);
    background-color: var(--color-primary);
    border: none;
    border-radius: var(--radius-medium);
    color: var(--color-secondary);
    cursor: pointer;
    padding: clamp(0.7rem, 1.5vw + 0.2rem, 1.1rem) clamp(1.2rem, 3vw + 0.5rem, 2rem);
    text-shadow: 0px 1px 0px var(--color-primary-deeper);
    transition: 0.1s ease-in;
    transition: transform 0.25 ease;
}

.intro-buttons input[type="button"]:hover {
    background-color: var(--color-primary-dark);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
}

.intro-learn-more {
    position: absolute;
    font-size: var(--text-small);
    bottom: var(--space-medium);
    border: 2px solid var(--color-complement);
    background-color: transparent;
    color: var(--color-complement);
    padding: 0.6em 1.2em;
    font-family: inherit;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    transition: 0.1s ease-out;
}

.intro-learn-more svg {
    fill: var(--color-complement);
    width: 30px;
    transition: 0.1s ease-out;
}

.intro-learn-more:hover {
    background-color: var(--color-complement);
    color: var(--color-primary);
    & svg { fill: var(--color-primary); }
}

/****************** HOW IT WORKS ******************/
.how-it-works {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--space-large) var(--space-large) var(--space-medium) var(--space-large);

    & h1 {
        padding-bottom: var(--space-medium);
    }
}

.how-it-works-container {
    display: flex;
    flex-direction: row;
    gap: var(--space-medium);
}

.how-it-works-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    text-align-last: center;
    background-color: var(--color-secondary-hover);
    border-radius: var(--radius-medium);
    padding: var(--space-medium);

    & h4 {
        padding-bottom: var(--space-tiny);
    }
}

.about_button {
    display: flex;
    justify-content: center;
    margin-bottom: var(--space-medium);
}

.about_button button {
    border: 3px solid var(--color-primary);
    background-color: transparent;
    color: var(--color-primary);
    padding: 0.6em 1.2em;
    font-size: var(--text-tiny);
    font-family: inherit;
    cursor: pointer;
    transition: 0.1s ease-out;
}

.about_button button:hover {
    background-color: var(--color-primary);  
    color: var(--color-complement);
}

/* RESPONSIVE: MOBILE VIEW */
@media (max-width: 576px) {
    .intro {
        display: flex;
        flex-direction: column;
    }

    .intro-buttons {
    display: flex;
    flex-direction: column;
    padding: var(--space-medium);
    gap: var(--space-medium);
    }

    .how-it-works-container {
            flex-direction: column;
    }
}

/* RESPONSIVE: TABLET VIEW */
@media (max-width: 768px) {
    .intro {
        display: flex;
        flex-direction: column;
    }

    .intro-buttons {
    display: flex;
    flex-direction: column;
    padding: var(--space-medium);
    gap: var(--space-medium);
    }

    .how-it-works-container {
            flex-direction: column;
    }
}